:root {
  --primary--bg--color: rgb(0, 119, 255);
  --primary--bg--color--active: rgb(26, 133, 255);
  --secondary--bg--color: rgb(220, 0, 236);
  --secondary--bg--color-active: gb(233, 24, 248);
  --succec--bg--color: rgb(1, 191, 1);
  --succec--bg--color--active: rgb(41, 205, 41);
  --error--bg--color: rgb(255, 28, 28);
  --error--bg--color--active: rgb(241, 48, 48);
}

.primary {
  color: white;
  background-color: var(--primary--bg--color);
  fill: var(--primary--bg--color);

  &:active {
    background-color: var(--primary--bg--color--active);
  }
}

.secondary {
  color: white;
  background-color: var(--secondary--bg--color);
  fill: var(--secondary--bg--color);

  &:active {
    background-color: var(--secondary--bg--color--active);
  }
}

.succes {
  color: white;
  background-color: var(--succec--bg--color);
  fill: var(--succec--bg--color);

  &:active {
    background-color: var(--succec--bg--color--active);
  }
}

.error {
  color: white;
  background-color: var(--error--bg--color);
  fill: var(--error--bg--color);

  &:active {
    background-color: var(--error--bg--color--active);
  }
}